.acf-hi-hat-repeater {
	display: flex;
	flex-direction: column;
}

.hi-hat-repeater-items-wrap {
	flex-grow: 1; /* Allows the items wrapper to take up available space */
}

.hi-hat-repeater-item {
	margin-bottom: 10px;
}

.hi-hat-repeater-item:last-of-type {
	margin-bottom: 0; /* No margin for the last item */
}

.hi-hat-repeater-item textarea {
	width: 100%;
}

.hi-hat-repeater-item textarea:not(.wp-editor-area) {
	height: 100px;
}

/* keep HTML mode textarea text visible */
.hi-hat-repeater-item .wp-editor-wrap.html-active .wp-editor-area {
	color: #121212 !important;
	background-color: #fff !important;
}

/* Ensure WYSIWYG editor text is visible */
.hi-hat-repeater-item .wp-editor-area {
	color: #2c3338;
	background-color: #fff;
}

.hi-hat-repeater-remove-button {
	margin-top: 12px;
	margin-bottom: 10px;
}

.hi-hat-repeater-add-button {
	margin-top: 28px;
	align-self: flex-start;
}

/* Image field styles */
.hi-hat-repeater-image-wrapper {
	margin-bottom: 10px;
}

.hi-hat-repeater-image-preview {
	margin-bottom: 10px;
}

.hi-hat-repeater-image-preview img {
	max-width: 150px;
	height: auto;
	display: block;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	padding: 4px;
	background: #fff;
}

.hi-hat-repeater-image-select-button,
.hi-hat-repeater-image-remove-button {
	margin-right: 5px;
}
